{erl_opts, [debug_info]}.
{deps, [
       {cowboy,".*" ,{git,"https://github.com/ninenines/cowboy", {branch, "master"}}}
]}.

{relx, [
       {release, {erlskelc, "0.0.1"},
         [erlskelc]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}
        ]}.
