{erl_opts, [debug_info]}.
{deps, [
       {cowboy,".*" ,{git,"https://github.com/ninenines/cowboy", {branch,"master"}}}
]}.

{relx, [
       {release, {erlskeletor_cowboy, "0.0.1"},
         [erlskeletor_cowboy]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}
        ]}.